@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
body{
background: #eee;

}

#loader{
width: 100%;
height: 100vh;
}

.rope{
 height: 45rem;
 width: 30px;
 background: #transparent;
 border-left: 5px solid #111;
 border-right: 5px solid #111;
 position: absolute;
 left: 47%;
 margin-top: -600px;
 filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
 }
 
 
 
 #gfg1 {
     animation-name: text;
     animation-duration: 5s;
     animation-iteration-count:infinite;
 }
  

  
  .hook{
  height: 150px;
  width: 150px;
  position: absolute;
  left: 51.4%;
  transform:translate(-50%,-50%);
  margin-top: 128px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
  
  .logos{
  height: 60px;
  width: 150px;
  }
  
  .triangle {
  -webkit-text-stroke: 12px black;
  color: transparent;
  font-size: 15px;
  position: absolute;
  left: 49%;
  margin-top: 170px;
  }
  
  #geek2 {
  text-align: center;
  background: #fff;
  position: absolute;
  left: 51%;
  transform:translate(-50%,-50%);
  height: 80px;
  width: 200px;
  border: 5px solid #111;
  margin-top: 229px;
  padding: 5px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));}
  
  
 @keyframes text {
     from {
         margin-top: 600px;
     }
     to {
         margin-top: 0px;
     }
 }
 
 
 @media (min-width: 500px) {
   
   .hook{
   position: absolute;
   left: 49%;
   }
   
   .triangle {
    position: absolute;
   left: 45%;
   }
   
   #geek2 {
   position: absolute;
   left: 49%;
   }

 
 
 }


  
#myDiv {
display: none;
text-align: center;
}

.wrap{
 width: 100%;
 }
 
 
            
.carousel{
width: 1200px;
margin: auto;
padding: 0;
}

.carousel .card{
color: #fff;
text-align: center;
margin: 0;
line-height: 250px;
font-size: 90px;
font-weight: 600;
}

.owl-dots{
text-align: center;
}
.owl-dot{
height: 15px;
width: 15px;
margin: 10px;
outline: none;
border-radius: 14px;
border: 2px solid #C41E3A!important;
box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
background: #C41E3A!important;
}

.wrapper{
  background: #ffffff;
  position: fixed;
  width: 100%;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .contents{
  display: flex;
  align-items: center;
}
nav .contents .links{
  margin-left: 80px;
  display: flex;
}
.contents .logo a{
  height: 50px;
  width: 125px;
}
.logo{
height: 60px;
 width: 150px;
}
.contents .links li{
  list-style: none;
  line-height: 70px;
}
.contents .links li a,
.contents .links li label{
  color: #111;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.contents .links li label{
  display: none;
}
.contents .links li a:hover,
.contents .links li label:hover{
  background: #C41E3A;
  color:#fff;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #111;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
  margin-left: -10px;
}

.wrapper .search-icon{
  margin-right: -10px;
}

.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.contents .links ul{
  position: absolute;
  background: #ffffff;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.contents .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.contents .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.contents .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.contents .links ul li{
  position: relative;
}
.contents .links ul li:hover ul{
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .contents .links{
    margin-left: 30px;
  }
  .contents .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .contents .links{
    display: block;
    position: fixed;
    background: #eee;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 360px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .contents .links{
    left: 0%;
  }
  .contents .links li{
    margin: 15px 20px;
  }
  .contents .links li a,
  .contents .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .contents .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .contents .links ul,
  .contents .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .contents .links #show-products:checked ~ ul,
  .contents .links #show-services:checked ~ ul,
  .contents .links #show-items:checked ~ ul,
  .contents .links #show-items2:checked ~ ul{
    max-height: 100vh;
  }
  .contents .links ul li{
    margin: 7px 20px;
  }
  .contents .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
  

}

@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .contents .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}

.content{
  position: absolute;
  z-index: -1;
  text-align: center;
  width: 100%;
  margin-top: 70px;
  color: #111;
}

.cards {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 max-width: 300px;
 margin-left:auto;
 margin-right:auto;
 text-align: center;
 font-family: arial;
 background:#242424;
  border-radius:0.25rem;
}

.cards .title{
color: #ffd700;
font-size:22px;
font-weight:700;
margin: 10px;
}


.cards button{
 border: none;
 outline: 0;
 padding: 12px;
 color: white;
 background-color: #C41E3A;
 text-align: center;
 cursor: pointer;
 width: 50%;
 font-size: 18px;
  border-radius: 0.25rem;
 margin-bottom:20px;
}

.cards button:hover {
 opacity: 0.7;
}


.cards2 {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 max-width: 300px;
 margin: 10px 20px ;
 text-align: center;
 font-family: arial;
 background:#242424;
  border-radius:0.25rem;
}

.cards2 .title{
color: #ffd700;
font-size:22px;
font-weight:700;
margin: 10px;
}


.cards2 button{
 border: none;
 outline: 0;
 padding: 12px;
 color: white;
 background-color: #C41E3A;
 text-align: center;
 cursor: pointer;
 width: 50%;
 font-size: 18px;
  border-radius: 0.25rem;
 margin-bottom:20px;
}

.cards2 button:hover {
 opacity: 0.7;
}

.pro{
    width: 250px;
    height: 250px;
    object-fit: fill;
    border-top-left-radius:0.25rem;
    border-top-right-radius:0.25rem;
}

.slide{
   width: 300px;
   height: 300px;
   object-fit:fill;
}

        
 footer{
 position: absolute;
 left: 0;
 bottom: 0;
 width: 100%;
 color: #fff;
 text-align: center;
 height: 80px;
 padding: 20px;
 background: #ae333f;
 }
 
 .footer-head{
 color:red;
 }
 
 .footer-contact{
 text-align:left;
 color: #fff;
 }
 
 .footer-links{
 text-align:left;
 
 }
 
 li{
 display: block;
 }
 
 .fa-chevron-right{
 color: #fff;
 }
 
 .footer-links ul li a{
 color: #fff;
 text-decoration:none;
 }
 
 .text-bot{
 font-size:16px;
 font-weight:500;
 color: #fff;
 }
 
 .container3{
 width: 100%;
 display: grid;
 padding: 20px;
 background: linear-gradient(to bottom,crimson,#ae333f);
 }
 
 .fab{
 display:inline;
 background: #fff;
 height: 45px;
 width: 45px;
 border-radius:10%;
 font-size:25px;
 color: #DC143C;
 padding: 10px;
 text-align:center;
 }
 

 .read{
 border: none;
 outline: 0;
 padding: 12px;
 color: #111;
 background-color: #ffd700;
 text-align: center;
 cursor: pointer;
 width: 50%;
 font-size: 18px;
 border-radius: 0.25rem;
 margin-bottom:20px;
 }
 
 .read:hover {
 opacity: 0.7;
 }
 
 .card-con{
 max-width: 1200px;
 margin: 15px;
 display: grid;
 gap: 1rem;
 }
 
 .bullets{
 text-align:left;
 margin: 15px;
 }
 
 h2{
 color: #C41E3A;
 }
 
 .prod{
 width: 100%;
 position: relative;
 margin-top:-10px;
  object-fit:fill;
 }
 
 
 .cont{
 width: 100%;
 position: relative;
 margin-top:-10px;
 object-fit:fill;
 }
 

.heads {
 position: relative;
 text-align: center;
 color: #fff;
}

.heads2 {
 position: relative;
 text-align: center;
 color: #fff;
}

.centered {
  font-size: 30px;
 font-weight: 700;
 color: #fff;
 text-shadow: 0 2px red , 0 2px red; 
 background: #ffd700;
 width:200px;
 height:60px;
 line-height:60px;
 color:white;
 margin:20px auto;
 position:absolute;
 top: 50%;
 left: 27.8%;
 transform: translate(-50%, -50%);
}

.centered:before{
  content:"";
  width:0px;
  height:0px;
  border-top:60px solid #ffd700;
  border-right:60px solid transparent;
  position:absolute;
  left:100%;
  top:0px;
}



.centered1 {
 position: absolute;
 top: 30%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-size: 20px;
 font-weight: 700;
 color: #fff;
 text-shadow: 0 2px red , 0 2px red; 
 background: rgba(0, 0, 0, 0.5);
 padding: 10px;
 
}
 
 @media (min-width: 500px) {
 
 .container3 { grid-template-columns: repeat(2, 1fr); }
 
 .card-con { grid-template-columns: repeat(2, 1fr); }
 
 
 .centered {
 font-size: 50px;
 text-shadow: 0 4px red , 0 4px red; 
 width:350px;
 height: 120px;
 line-height:120px;
 position:absolute;
 left: 23.8%;
 }
 
 .centered:before{
 border-top:120px solid #ffd700;
 border-right:120px solid transparent;
 }
 
 .centered1 {
 font-size: 35px;
 text-shadow: 0 4px red , 0 4px red; 
 }
 
 
 
 .cont{
 width: 100%;
 height: 100%;
 object-fit:fill;
 }
 
 .prod{
 width: 100%;
 height: 100%;
 object-fit:fill;
 }
 

 
 
 }
 
