@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

#loader{
width: 100%;
height: 100vh;
}

.rope{
 height: 40rem;
 width: 30px;
 background: #transparent;
 border-left: 5px solid #111;
 border-right: 5px solid #111;
 position: absolute;
 left: 47%;
 margin-top: -600px;
 }
 
 
 #gfg1 {
     animation-name: text;
     animation-duration: 5s;
     animation-iteration-count:infinite;
 }
  
 #geek1 {
     text-align: center;
     height: 4rem;
     width: 30px;
     background: #transparent;
     border-left: 5px solid #111;
     border-right: 5px solid #111;
     position: absolute;
     left: 47%;
 }
  
  .hook{
  height: 150px;
  width: 150px;
  position: absolute;
  left: 50%;
  transform:translate(-50%,-50%);
  margin-top: 128px;
  }
  
  .logos{
  height: 60px;
  width: 180px;
  }
  
  .triangle {
  -webkit-text-stroke: 12px black;
  color: transparent;
  font-size: 15px;
  position: absolute;
  left: 49%;
  margin-top: 170px;
  }
  
  #geek2 {
  text-align: center;
  background: #fff;
  position: absolute;
  left: 51%;
  transform:translate(-50%,-50%);
  height: 75px;
  width: 200px;
  border: 5px solid #111;
  margin-top: 229px;
  }
  
  
 @keyframes text {
     from {
         margin-top: 600px;
     }
     to {
         margin-top: 0px;
     }
 }
 
 
 @media (min-width: 500px) {
 
   .triangle {
    position: absolute;
   left: 48%;
   }
   
   #geek2 {
   position: absolute;
   left: 49%;
   }

 
 
 }

  
#myDiv {
display: none;
text-align: center;
}

#slide{
	width:100%;
	}
	
* {
	box-sizing: border-box;
}

.mySlides {
	display: none;
}

.slideshow-container {
	position: relative;
	margin-top:-10px;
}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev{
	left: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	width: 100px;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	border: 3px solid #ffd700;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	animation-name: fade;
	animation-duration: 2s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

img{
width: 100%;

}


.wrapper{
  background: blue;
  position: fixed;
  width: 100%;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .contents{
  display: flex;
  align-items: center;
}
nav .contents .links{
  margin-left: 80px;
  display: flex;
}
.contents .logo a{
  height: 50px;
  width: 125px;
}
.logo{
height: 50px;
 width: 190px;
}
.contents .links li{
  list-style: none;
  line-height: 70px;
}
.contents .links li a,
.contents .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.contents .links li label{
  display: none;
}
.contents .links li a:hover,
.contents .links li label:hover{
  background: #323c4e;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #111;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.contents .links ul{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.contents .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.contents .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.contents .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.contents .links ul li{
  position: relative;
}
.contents .links ul li:hover ul{
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .contents .links{
    margin-left: 30px;
  }
  .contents .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .contents .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 360px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .contents .links{
    left: 0%;
  }
  .contents .links li{
    margin: 15px 20px;
  }
  .contents .links li a,
  .contents .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .contents .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .contents .links ul,
  .contents .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .contents .links #show-features:checked ~ ul,
  .contents .links #show-services:checked ~ ul,
  .contents .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .contents .links ul li{
    margin: 7px 20px;
  }
  .contents .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .contents .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}

.content{
  position: absolute;
  z-index: -1;
  text-align: center;
  width: 100%;
  margin-top: 80px;
  color: #fff;
}